#loading {
  width: 100%;
  height: 59px;
  //margin-top: 10px;
  margin: 0 auto;

  //background:
          /* On "top" */
          //repeating-linear-gradient(
          //                45deg,
          //                transparent,
          //                transparent 10px,
          //                #ccc 10px,
          //                #ccc 20px
          //),
          //  /* on "bottom" */
          //linear-gradient(
          //                to bottom,
          //                #eee,
          //                #999
          //);
  background: repeating-linear-gradient(
                  45deg,
                  #606dbc,
                  #606dbc 10px,
                  #465298 10px,
                  #465298 20px
  );
}
#text-loading {
  float: left;
  font-weight: bold;
  color: $white;
  font-size: 22px;
  margin: 0px;
}
#icon-loading {
  float: right;
}